<div class="row">
  <div class="col-xs-12">
    <img src="" alt="image for {{ stuff.name }} To implement">
  </div>
</div>
<div class="col-xs-12 row">
    <h1>{{ stuff.name }}</h1>
    <div ngbDropdown class="dropdown-menu-right" placement="bottom-right">
      <button class="btn btn-outline-dark ml-5 mt-1" id="dropdownBasic1" ngbDropdownToggle>Manage</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="onEditStuff()">Edit Stuff</button>
        <button ngbDropdownItem (click)="onDeleteStuff()">Delete Stuff</button>
      </div>
    </div>
</div>
<hr class="row">
<div class="row">
  <div class="col-xs-12">
    <p>{{ stuff.category }}</p>
    <p>{{ stuff.type }}</p>
    <p>{{ stuff.size }}</p>
    <p>{{ stuff.season }}</p>
  </div>
</div>
